<div class="container" *ngIf="propiedad$ | async as propiedad; else loading">
  <mat-card class="propiedad-card">
      <img matCardImage class="align-center" [src]="propiedad.imagePropiedad">
      <mat-card-content>
          <mat-card-title>
              {{ propiedad.titlePropiedad }}
          </mat-card-title>
          <p class="content">
              {{ propiedad.contentPropiedad }}
          </p>
      </mat-card-content>
  </mat-card>
</div>


<ng-template #loading>
  <div class="container-spinner">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>
