<div class="new-propiedad-container">
  <form [formGroup]="editPropiedadForm" (ngSubmit)="editPropiedad(editPropiedadForm.value)">
    <mat-form-field>
      <mat-label>Title</mat-label>
     <!-- {{ propiedad | json }}> imprime el contenido de la propiedad-->
      <input matInput placeholder="Title post" formControlName="titlePropiedad">
        <!-- el nombre del formControlName debe coinsidir con la declaracion que se hace en edit-propiedad,components.ts-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput placeholder="Contenido propiedad"
      formControlName="contentPropiedad">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tags" multiple formControlName="tagsPropiedad">
          <mat-option value="life">Life</mat-option>
          <mat-option value="sport">Sport</mat-option>
          <mat-option value="beauty">Beauty</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container-input-file">
      <label class="custom-file">
        <input type="file"  formControlName="imagePropiedad" (change)="handleimage($event)"/>&nbsp;
        <mat-icon>cloud_upload</mat-icon><span>&nbsp; Elija una imagen</span>
      </label>
      <div class="image">
        <img src="{{imageOriginal}}"  />
      </div>
    </div>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Grabar" [mat-dialog-close]="true">
    </div>
  </form>
</div>
